asgiref==3.4.1
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.3
django-appconf==1.0.5
django-classy-tags==3.0.1
django-cms==3.9.0
django-compressor==3.1
django-formtools==2.3
django-libsass==0.9
django-modeltranslation==0.17.5
django-phone-field==1.8.1
django-sekizai==3.0.1
django-treebeard==4.5.1
djangocms-admin-style==3.0.0
djangocms-animate-on-scroll==1.0.1
idna==3.3
libsass==0.21.0
pyTelegramBotAPI==4.4.0
pytz==2021.3
rcssmin==1.1.0
requests==2.27.1
rjsmin==1.2.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
typing-extensions==4.1.1
urllib3==1.26.9
django-crispy-forms==1.14.0
termcolor~=1.1.0
